1 ICON "Mezozoy.ico"

1 24 "app.manifest"

1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041904B0"
    BEGIN
      VALUE "CompanyName", "Luby Studio\0"
      VALUE "FileDescription", "Mezozoy — сценарный редактор\0"
      VALUE "FileVersion", "1.0.1\0"
      VALUE "InternalName", "Mezozoy\0"
      VALUE "OriginalFilename", "Mezozoy.exe\0"
      VALUE "ProductName", "Mezozoy\0"
      VALUE "ProductVersion", "1.0.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x419, 1200
  END
END
